.github
.git
.DS_Store
docs
kubernetes
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
.idea
venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test

README.md
LICENSE
Dockerfile
Makefile
# Added by OpenWebUI team to ignore the backend/data folder 
#this might not be the best way to build the docker image
# Testing is needed to optimize the docker build process
backend/data/*
